.hooksMain {
  filter: url('#goo');
  @apply absolute w-full h-full overflow-hidden bg-transparent cursor-default;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.hooksMain > div {
  @apply absolute will-change-transform rounded-full shadow-md opacity-60;

  &:nth-child(1) {
    @apply w-[60px] h-[60px];
  }

  &:nth-child(2) {
    @apply w-[125px] h-[125px];
  }

  &:nth-child(3) {
    @apply w-[75px] h-[75px];
  }

  &::after {
    @apply absolute top-[20px] left-[20px] w-[20px] h-[20px] rounded-full bg-opacity-80 bg-white;
  }

  &:nth-child(2)::after {
    @apply top-[35px] left-[35px] w-[35px] h-[35px];
  }

  &:nth-child(3)::after {
    @apply top-[25px] left-[25px] w-[25px] h-[25px];
  }
}
